body{ background-color: black;}

form {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 300px;
}

.resultsDiv{
    background-color: gray;
    padding: 5%;
    text-align: right;
    color:  white;
}

.btnDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btnDiv input {
    border-radius: 0%;
    border: 0.2px solid gray;
    padding: 20%;
    height: 62px;
}

.orange {
    background-color: orange;
}

.span {
    grid-column: 1 / 3;
    padding: 3%;
}